.container
  .row
    %h2 Your lucky powerball numbers:
  .row.m-t-20
    .col-md-12.text-center.boxes
      .col-md-2.padme
        .white
          = @number_one
      .col-md-2.padme
        .white
          = @number_two
      .col-md-2.padme
        .white
          = @number_three
      .col-md-2.padme
        .white
          = @number_four
      .col-md-2.padme
        .white
          = @number_five
      .col-md-2.padme
        .red
          = @number_six
